<div class="nine columns">
  <nav>
    <ul>
      <% if current_user %>
        <li><%= link_to("Dashboard", dashboard_url, class: "btn") %></li>
        <li><%= link_to("Sign out", "/auth/twitter", class: "btn") %></li>
      <% else %>
      <li><%= link_to("Sign out", "", class: "btn") %></li>
      <% end %>
    </ul>
  </nav>
</div>
