<header>
  <div class="container">
    <div class="three columns">
      <div class="logo">
        <%= link_to "Minly", root_path %>
      </div>
    </div>
    <div class="nine columns">
      <nav>
        <ul>
          <li><a class="btn" href="#">Sign In</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="eight columns offset-by-two headertext">
      <p>Put down the pen and paper. Unleash the power of <strong>links</strong>. Create customized Urls for social media and adverts</p>
      <%= render 'form' %>
    </div>
  </div>
  <%= display_notification @notice, 'error' %>
</header>
