<header>
  <div class="container">
    <div class="three columns">
      <div class="min_logo">
        <%= link_to "Minly", root_path %>
      </div>
    </div>
    <%= render "login_logout" %>
  </div>
</header>
