<section class="container add-top">
    <h2>Url Analytics</h2>
    <% if @urls.size > 0 %>
    <div class= "row add-top">
      <div class="four columns responsive">
        <div class="url-listing">
          <h4>My Urls</h4>
          <div><%= list_user_urls(@urls) %></div>
        </div>
        <div id="trigger"><%= link_to "", "#",remote:true %></div>
      </div>
      <div class="seven columns offset-by-one right">
        <div class="statistics">
          <h4>Details</h4>
          <div class='edit_form' id='edit_form'>
            <%= show_url_details(@urls.first) %>
          </div>
        </div>
      </div>
      <% else %>
      <div class="twelve columns">
        <%=  User.first.token %>
          <p>All your shortened urls and indept analytics of usage will be shown. Try it out; shorten a url.</p>
      </div>
    <% end %>
  </div>
</section>
