<div class="container">
  <div class="row">
    <header class="banner">
      <div class="one-half column">
        <div class="logo">
          <%= link_to "Minly", root_path %>
        </div>
      </div>
      <div class="one-half column">
        <%= render "layouts/navbar" %>
      </div>
    </header>
  </div>
  <section class="row">
    <div class="twelve columns">
      <div class="welcome">
        <h1>Urls You can remember!</h1>
        <p>Put down the pen and paper. Create customized Urls for social media and adverts</p>
        <%= render 'layouts/form' %>
        <div id="notification"><%= display_notification flash %></div>
      </div>
    </div>
  </section>
</div>
